<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
            <div class="after-loop">
              <div class="container">
                <div class="row">
                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/accounts" class="after-loop-item card border-0 card-templates shadow-lg">
              <div class="card-body d-flex align-items-end flex-column text-right">Consultar estado de cuentas</div>
              </a>
                </div>

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/accounts/123456789/" class="after-loop-item card border-0 card-templates shadow-lg"><div class="card-body d-flex align-items-end flex-column text-right">Transferir a cuentas propias</div></a>
                </div>

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/accounts/123456789/" class="after-loop-item card border-0 card-templates shadow-lg">
            <div class="card-body d-flex align-items-end flex-column text-right">Transferencia a terceros</div></a>
                </div>

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/#" class="after-loop-item card border-0 card-templates shadow-lg">
            <div class="card-body d-flex align-items-end flex-column text-right">Pagar tarjeta de crédito</div></a>
                </div>

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/#" class="after-loop-item card border-0 card-templates shadow-lg">
            <div class="card-body d-flex align-items-end flex-column text-right">Pagar tarjeta de crédito a terceros</div></a>
                </div>

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/#" class="after-loop-item card border-0 card-templates shadow-lg">
            <div class="card-body d-flex align-items-end flex-column text-right">Pagar préstamo bancario</div></a>
                </div>

                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/#" class="after-loop-item card border-0 card-templates shadow-lg">
            <div class="card-body d-flex align-items-end flex-column text-right">Pagar préstamo bancario a terceros</div></a>
                </div>
                <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
                  <a routerLink="/#" class="after-loop-item card border-0 card-templates shadow-lg">
            <div class="card-body d-flex align-items-end flex-column text-right">Administrar beneficiarios</div></a>
                </div>
                </div>
              </div>
              
            
            

            

            

            

            

            

            

            </div>
              
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>